@mixin wrapper($padding, $breakpoint) {

  padding-right: $padding;
  padding-left: $padding;

  @media screen and (min-width: $breakpoint) {
    padding-right: calc(50% - #{unit($breakpoint / 2px) - $padding});
    padding-left: calc(50% - #{unit($breakpoint / 2px) - $padding});
  }

}
