// variables
$header-height: unit(64);
$logo-width: unit(180);


// body
body {
  padding-top: $header-height;
  position: relative;
  background-color: color(silver, 65);
}


// wrappers
body > * {
  @include wrapper(48, breakpoint(huge));
}


// header
body > header {
  position: fixed;
  line-height: $header-height;
  top: -1px;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: color(white);
  border-bottom: 1px solid color(border, 65);
  transition: font-size 0.2s ease-in-out;

  & > a,
  & > nav {
    display: inline-block;
    vertical-align: middle;
    height: inherit;
  }

  & > a {
    width: $logo-width;

    & > img {
      width: $logo-width;
    }

    &:hover {
      opacity: 0.85;
    }
  }

  & > nav {
    width: calc(100% - #{$logo-width});
  }

  &.small {
    font-size: .8em;
  }

}


// banner
body > figure figcaption {
  color: color(white);
  padding: spacing(.5) unit(spacing(1), 1.25em);
  font-size: 1.25em;
  line-height: 1.5;
  font-style: italic;
  font-weight: 300;
  background: color(focus);
}


// main
body > main {
  padding-top: unit(40);
}


// svg icons
svg {
  width: unit(24);
  height: unit(24);
  fill: color(text);
}


// lazyload
noscript + picture > img,
noscript + img {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;

  &.lazyloaded {
    opacity: 1;
  }
}


// blockquote em
blockquote em {
  display: block;
  line-height: 1.4;
  font-size: .65em;
  font-weight: 700;
  color: color(text, 35);
  margin-bottom: .75em;
}


// article title
main > article > h2 {
  border-bottom: 2px solid color(focus);
  display: inline-block;
  padding-bottom: spacing(.25);
  font-weight: 300;
  font-size: unit(36);
  margin: 0 0 .5em;
}
