// variables
$header-height: unit(get('header', 'height'));
$logo-width: unit(get('logo', 'width'));

// body title
body > h1 {
  @extend %hidden;
}

// wrappers
body > * {
  padding-right: spacing();
  padding-left: spacing();
}

// header
body > header {
  position: fixed;
  line-height: $header-height;
  top: -1px; // ???
  left: 0;
  right: 0;
  z-index: 99;
  background: color(white) url(asset_path("img/paper-white.png")) repeat center center;
  border-bottom: 1px solid color(border, 65);

  & > a,
  & > nav {
    display: inline-block;
    vertical-align: middle;
    height: inherit;
  }

  // header logo
  & > a {
    width: $logo-width;

    & > img {
      width: $logo-width;
    }

    &:hover {
      opacity: 0.75;
    }

    &:focus,
    &:active {
      opacity: 0.5;
    }
  }

  // header nav
  & > nav {
    width: calc(100% - #{$logo-width});
  }

}


// banner
body > figure {
  padding: 0;
}


// main
main {
  padding-top: spacing();
  padding-bottom: spacing(huge);

  // main article
  & > article {

    & > h2:first-child {
      border-bottom: 2px solid color(focus);
      display: inline-block;
      padding-bottom: spacing(tiny, font-size(huge));
      font-weight: 300;
      font-size: font-size(huge);
      line-height: line-height(tiny);
      margin: spacing(tiny) 0 spacing(.2);
    }

  }

  // main sidebar
  & > aside {
    color: color(text, 10);

    .button {
      display: block;
      margin: 0;
    }

    figure,
    .block {
      margin-bottom: spacing(1, unit(14));

      & + .description {
        margin-top: spacing(-1, unit(14));
      }

    }

  }

}


// footer
body > footer {
  background: color(focus, -10, 0.85) url(asset_path("img/paper-chocolate.png")) repeat center center;
  color: mix(color(white), color(focus), 75);
  padding-top: spacing(large);
  padding-bottom: spacing(large);

  a {
    color: inherit;

    &:hover,
    &:focus,
    &:active {
      color: color(white);
    }
  }

  .credentials {
    font-size: font-size(tiny);
    line-height: line-height(small);
    margin-bottom: unit(1);
  }
}


// block class
.block {
  padding: spacing(large);
  background: color(white) url(asset_path("img/paper-white.png")) repeat center center;
  box-shadow: 0 0 unit(2) color(black, 0, 0.15);
  & > :first-child {
    margin-top: 0;
  }

  & > :last-child {
    margin-bottom: 0;
  }

}
