body {
  padding-top: $header-height + spacing(1);
  padding-bottom: unit(get('footer', 'height'));
}

body > footer {
  height: unit(get('footer', 'height'));
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

article.sidebar,
article.sidebar + aside {
  display: inline-block;
  vertical-align: top;
}

article.sidebar {
  padding-right: spacing(.5);
  width: 66.333%;
}

article.sidebar + aside {
  margin-top: spacing(1.5);
  padding-left: spacing(.5);
  width: 33.333%;
}
