body {
  padding-top: $header-height + spacing(1);
}

body > .banner > figure {
  position: relative;
  overflow: hidden;

  @keyframes caption {
    0%    { bottom: -100%; }
    100%  { bottom: spacing(1); }
  }

  figcaption  {
    position: absolute;
    font-size: 1.5em;
    right: 0;
    animation: caption .5s forwards;
  }

}
