// banner
.banner {
  position: relative;

  & > figcaption {
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    &.left {
      text-align: left;
    }

    &.center {
      text-align: center;
    }

    &.right {
      text-align: right;
    }

    &.top > blockquote {
      top: 0;
      transform: translateY(0);
    }

    &.middle > blockquote {
      top: 50%;
      transform: translateY(-50%);
    }

    &.bottom > blockquote {
      top: 100%;
      transform: translateY(-100%);
    }

    & > blockquote {
      font-size: unit(24);
      line-height: line-height(tiny);
      font-style: italic;
      font-weight: 300;
      color: color(white);
      text-shadow: 0 0 .25em color(black);
      display: inline-block;
      position: relative;
      padding: spacing(large, unit(24));
      border: 0;
      margin: 0;
      opacity: 0;
      animation: caption .5s forwards .5s;

      @keyframes caption {
        0%    { margin-top: 50%; }
        50%   { opacity: 0; }
        100%  { opacity: 1; margin-top: 0; }
      }

      & > p {

        &:before,
        &:after {
          display: inline-block;
          vertical-align: top;
        }

        &:before {
          content: '\201C';
          margin: -.1em .1em 0 -.3em;
        }

        &:after {
          content: '\201D';
          margin: .6em 0 -.6em .2em;
        }

      }
    }

  }

}
