body > figure {
  position: relative;
  overflow: hidden;

  & > figcaption  {
    @include wrapper(spacing(2), breakpoint(large));
    right: 0;
    left: 0;

    & > blockquote {
      font-size: 1.75em;
    }

  }

}
