// data lists -> component ?
dl {
  font-size: font-size(small);
  line-height: line-height(small);
  margin-bottom: 0;
}

dd, dt {
  display: inline-block;
  vertical-align: top;
}

dt {
  width: 66.666%;
  font-size: font-size(small);

  span {
    color: color(text, 25);
    font-weight: 500;
  }

}

dd {
  width: 33.333%;
  text-align: right;

  & + p {
    margin-top: spacing(small);
    font-size: font-size(small);
    font-style: italic;
  }

}
