@mixin inline-menu($margin: null, $padding: null, $height: null) {
  margin: 0;

  & > li {
    display: inline-block;

    @if $padding {
      padding: $padding;
    }

    @if $margin {
      margin-right: $margin;

      &:last-child {
        margin: 0;
      }
    }

    & > a {
      display: block;
      @if $height {
        height: $height;
        vertical-align: middle;
      }
    }
  }

}
