$global-list: (

  'ol': (
    selector: 'article ol',
    padding: unit(22),
    number-font-size: 80%,
    number-font-weight: 700,
    number-width: unit(8),
    number-spacing: unit(14),
    number-top: unit(3),
    number-color: color(text),
  ),

  'ul': (
    selector: 'article ul',
    padding: unit(22),
    bullet-width: unit(8),
    bullet-height: unit(8),
    bullet-spacing: unit(14),
    bullet-top: unit(10),
    bullet-radius: 0,
    bullet-color: color(primary),
  ),

  'li': (
    line-height: 1.75,
    margin-bottom: .25em,
  )

);
