body > header > nav {
  @include dropdown-menu-hidden();

  & > ul {
    @include inline-menu(unit(24));

    & > li:first-child {
      display: none;
    }

    & > li > a {

      &:after {
        content: "";
        display: block;
        position: relative;
        bottom: unit(-30);
        height: 2px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 0%;
        transition: background-size .2s ease-in-out;
        @include focus-effect-background(color(focus));
      }

      &:focus,
      &:active,
      &.active {

        &:after {
          background-size: 100%;
        }

      }

    }
  }

  a > svg {
    margin: unit(-5) 0;
    transition: fill 0.2s ease-in-out;

    &:hover,
    &:focus,
    &:active {
      fill: color(focus);
    }
  }

}
