// config
$config: (

  layout: (
    unit: em,
    font-family: (Merriweather, serif),
    font-size: 16,
    line-height: 2,
    spacing: 24
  ),

  breakpoints: (
    tiny: 380px,
    small: 640px,
    medium: 960px,
    large: 1180px,
    huge: 1360px
  ),

  colors: (
    text: color(black, 20),
    link: color(black, 10),
    focus: chocolate,
    border: color(grey, 20),
    primary: chocolate,
    secondary: color(silver)
  ),

  footer: (
    height: 200,
  ),

  logo: (
    width: 240,
  ),

);
