// config
$config: (

  layout: (
    unit: em,
    font-family: (Roboto, Helvetica, sans-serif),
    font-size: 16,
    line-height: 2,
    spacing: 24
  ),

  breakpoints: (
    tiny: 380px,
    small: 640px,
    medium: 960px,
    large: 1180px,
    huge: 1360px
  ),

  colors: (
    text: color(black, 15),
    link: color(black, 5),
    focus: color(yellow),
    border: color(grey, 20),
    primary: color(yellow),
    secondary: color(red)
  ),

  footer: (
    height: unit(200),
  ),

);
