// import functions
@import
  "functions/map",
  "functions/unit",
  "functions/colors",
  "functions/svg",
  "functions/layout";

  // import mixins
@import
  "mixins/wrap",
  "mixins/inline-menu",
  "mixins/dropdown-menu",
  "mixins/background-circle",
  "mixins/hamburger-icon";

  // import components
@import
  "components/base/layout";

// import partials
@import
  "partials/header/header",
  "partials/menubar/menubar";

// import components and partials for small screens and below
@media screen and (max-width: breakpoint(medium)) {
  @import
    "partials/menubar/menubar.max.medium";
}

// import components and partials for medium screens
@media screen and (min-width: breakpoint(medium)) {

  body > header,
  body > footer,
  main,
  .banner {
    @include wrap(spacing(large), breakpoint(large));
  }

  @import
    "partials/menubar/menubar.min.medium";
}



// import critical fonts
@import url('https://fonts.googleapis.com/css?family=Merriweather:300');

// hide non-critical items
body > figure,
article,
aside {
  opacity: 0;
}

a > svg {
  width: unit(24);
  height: unit(24);
}
