// import functions
@import
  "functions/map",
  "functions/unit",
  "functions/colors",
  "functions/svg",
  "functions/layout";

  // import mixins
@import
  "mixins/wrap",
  "mixins/inline-menu",
  "mixins/dropdown-menu",
  "mixins/background-circle",
  "mixins/hamburger-icon";

  // import components
@import
  "components/base/layout";

// import partials
@import
  "partials/header/header",
  "partials/menubar/menubar";

// import components and partials for small screens and below
@media screen and (max-width: breakpoint(medium)) {
  @import
    "partials/menubar/menubar.max.medium";
}

// import components and partials for medium screens
@media screen and (min-width: breakpoint(medium)) {

  body > header,
  body > footer,
  main,
  .banner {
    @include wrap(spacing(large), breakpoint(large));
  }

  @import
    "partials/menubar/menubar.min.medium";
}



// critical fonts
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 300;
  src: local('Merriweather Light'), local('Merriweather-Light'),
       url('../fonts/merriweather-v18-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/merriweather-v18-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

// hide non-critical items
body > figure,
article,
aside {
  opacity: 0;
}

a > svg {
  width: unit(24);
  height: unit(24);
}
