// https://jonassebastianohlsson.com/criticalpathcssgenerator/

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-y: scroll;
  position: relative;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
::after,
::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font: 16px/2 Merriweather,serif;
  min-height: 100%;
  color: #414141;
  margin: 0;
  font-weight: 300;
  background: url(asset_path("img/paper-beige.png")) repeat center center;
  padding-top: 4em;
  position: relative;
}

h1 {
  font-size: 2em;
  margin: .75em 0;
}

h2 {
  font-size: 1.75em;
  margin: .86em 0;
}

figcaption,
figure,
header,
li,
nav,
picture {
  display: block;
}

blockquote,
p,
ul {
  margin: 1.5em 0;
}

body>h1 {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  z-index: -1;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
}

figure {
  margin: 0;
}

svg {
  display: inline-block;
  vertical-align: middle;
}

svg:not(:root) {
  overflow: hidden;
}

a {
  outline: 0;
  color: #d2691e;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

blockquote {
  font-size: 1.2em;
  color: #676767;
  font-style: italic;
  line-height: 1.6;
  padding: .2em 0 .2em .5em;
  border-left: 4px solid #d2691e;
}

blockquote p {
  margin: 0 .45em;
}

body>header>nav>ul>li>a.active:after {
  background-size: 100%;
}

body>header>nav a>svg {
  margin: -.32em 0;
}

@media screen and (min-width:80em) {
  body {
    padding-top: 5.5em;
  }

  .banner,
  body>header {
    padding-right: calc(50% - 38em);
    padding-left: calc(50% - 38em);
  }

  .banner {
    overflow: hidden;
  }

  .banner>figcaption {
    padding-right: calc(50% - 37.5em);
    padding-left: calc(50% - 37.5em);
    right: 0;
    left: 0;
  }

  .banner>figcaption>blockquote {
    font-size: 2em;
  }
}

@media screen and (min-width:100em) {
  body {
    font-size: 17px;
  }
}
