// import modules
@import
  "modules/map",
  "modules/color",
  "modules/unit",
  "modules/layout",
  "modules/wrap",
  "modules/grid",
  "modules/svg";


// import component variables
@import
  "variables/components/base",
  "variables/components/button";

// import default components and partials
@import
  "components/base/base",
  "components/button/button",
  "components/blockquote/blockquote",
  "components/list/list",
  "components/table/table",
  "components/text-link/text-link",
  "components/inline-menu/inline-menu",
  "components/focus-effect/focus-effect",
  "components/animations/animations",
  "components/dropdown-menu/dropdown-menu",
  "partials/layout/layout",
  "partials/components/default",
  "partials/components/datalist",
  "partials/components/vcard",
  "partials/menubar/menubar",
  "partials/banner/banner",
  "partials/teasers/teasers";


// import components and partials for small screens and below
@media screen and (max-width: breakpoint(medium)) {
  @import
    "partials/menubar/menubar.max.medium";
}


// import components and partials for medium screens
@media screen and (min-width: breakpoint(small)) {
  @import
    "components/button/button.min.small";
}


// import components and partials for medium screens
@media screen and (min-width: breakpoint(medium)) {
  @import
    "partials/layout/layout.min.medium",
    "partials/menubar/menubar.min.medium",
    "partials/teasers/teasers.min.medium";
}


// import components and partials for large screens
@media screen and (min-width: breakpoint(large)) {
  @import
    "partials/layout/layout.min.large",
    "partials/teasers/teasers.min.large",
    "partials/banner/banner.min.large";
  
  .post-banner {
    margin-top: -1.5em;
  }
}


// import components and partials for large screens
@media screen and (min-width: breakpoint(huge)) {
  @import
    "partials/layout/layout.min.huge";
}


.post + .post {
  margin-top: 4em;
}

.date {
  font-size: .75em;
  color: grey;
}


.gallery {
  margin: 5em 0;
  
  a {
    text-decoration: none;
  }
  
  figure {
    margin-bottom: em(16);
    
    @include grid((
      (breakpoint(tiny), 3, 16),
      (breakpoint(small), 4, 16),
      (breakpoint(medium), 5, 16),
      (breakpoint(large), 5, 16),
    ));
  }

}

.baguetteBox-button svg {
  height: auto;
}
