// extend global map with local map
@if variable-exists(text-link) {
  $global-text-link: map-extend($global-text-link, $text-link, true);
}

#{map-get($global-text-link, 'selector')} {
  display: inline-block;
  border-bottom: map-get($global-text-link, 'border');
  line-height: map-get($global-text-link, 'line-height');

  &:focus,
  &:active,
  &:hover {
    border-bottom-color: map-get($global-text-link, 'border-focus-color');
  }
}
