$button: (

  'default': (
    color: color(white),
    padding: unit(16) unit(20),
    margin: 0 0 unit(8),
    text-align: center,
    text-transform: uppercase,
    letter-spacing: 0.1em,
    font-weight: 300,
    background: color(focus, -10, 0.85) url(asset_path("img/paper-chocolate.png")) repeat center center,
  ),

  'hover': (
    color: color(white),
    opacity: .95,
    background-color: color(focus, -10, 0.85),
  ),

  'mobile': (
    margin: 0 0 unit(8)
  ),

);
