// Layout map
// Imported by layout module
$layout: (
  unit: em,
  font-family: (Merriweather, serif),

  font-size: (
    tiny: 12,
    small: 14,
    medium: 16,
    large: 18,
    huge: 36,
  ),

  line-height: (
    tiny: 1.4,
    small: 1.8,
    medium: 2,
    large: 2.5,
    huge: 3,
  ),

  spacing: (
    tiny: 8,
    small: 16,
    medium: 24,
    large: 32,
    huge: 40,
  ),

  breakpoints: (
    tiny: 560,
    small: 960,
    medium: 1024,
    large: 1280,
    huge: 1440,
  ),

  colors: (
    text: color(black, 20),
    link: chocolate,
    focus: chocolate,
    border: color(grey, 20),
    primary: chocolate,
    secondary: color(silver)
  ),

  header: (
    height: 64,
  ),

  logo: (
    width: 180,
  ),

  footer: (
    height: 200,
  ),

);
