// NEEDS CLEANUP -> SEE BUTTON MODULE
@if variable-exists(list) {
  $global-button: map-extend($global-list, $list, true);
}

// list
#{map-deep-get($global-list, 'ol', 'selector')},
#{map-deep-get($global-list, 'ul', 'selector')} {
  @extend %default-margin;

  & > li {
    position: relative;
    line-height: map-deep-get($global-list, 'li', 'line-height');
    margin-bottom: map-deep-get($global-list, 'li', 'margin-bottom');

    &:before {
      display: block;
      position: absolute;
      left: 0;
    }
  }

  ul,
  ol {
    margin: 0;
  }

}




// ol
#{map-deep-get($global-list, 'ol', 'selector')} {

  counter-reset: list-counter;

  & > li {
    padding-left: map-deep-get($global-list, 'ol', 'number-spacing') + map-deep-get($global-list, 'ol', 'number-width');

    &:before {
      content: counter(list-counter)".";
    	counter-increment: list-counter;
      top: map-deep-get($global-list, 'ol', 'number-top');
      width: map-deep-get($global-list, 'ol', 'number-width');
      font-weight: map-deep-get($global-list, 'ol', 'number-font-weight');
      font-size: map-deep-get($global-list, 'ol', 'number-font-size');
    }

  }

}



// ul
#{map-deep-get($global-list, 'ul', 'selector')} {

  & > li {
    padding-left: map-deep-get($global-list, 'ul', 'bullet-spacing') + map-deep-get($global-list, 'ul', 'bullet-width');

    &:before {
      content: "";
      top: map-deep-get($global-list, 'ul', 'bullet-top');
      width: map-deep-get($global-list, 'ul', 'bullet-width');
      height: map-deep-get($global-list, 'ul', 'bullet-height');
      background-color: map-deep-get($global-list, 'ul', 'bullet-color');

      @if map-deep-get($global-list, 'ul', 'bullet-radius') != 0 {
        border-radius: map-deep-get($global-list, 'ul', 'bullet-radius');
      }

    }

  }

}
