// base
$base: (

  body: (
    font-weight: 300,
    background: url(asset_path("img/paper-beige.png")) repeat center center,
    padding-top: unit(get('header', 'height')),
    position: relative,
  ),

  strong: (
    font-weight: 500,
  ),

  em: (
    font-size: 1.1em,
  ),

  'a:hover, a:focus, a:active': (
    color: color(black),
  ),

  '%input': (
    padding: unit(18),
    box-shadow: inset 0 0 0 color(black, 0, 0),
  ),

  '%input-focus': (
    border-color: color(border, 25),
    box-shadow: inset 0 -2px 0 color(primary),
  ),

  'legend, label': (
    text-transform: uppercase,
    letter-spacing: .1em,
    font-size: unit(18),
    font-weight: 300,
  ),

  'label > span': (
    color: mix(color(red), red, 50),
  ),

  'input[type="checkbox"] + label, input[type="radio"] + label': (
    font-weight: inherit,
    font-size: inherit,
    letter-spacing: inherit,
    text-transform: inherit,
  ),

  'input[type="checkbox"] + label:before, input[type="radio"] + label:before': (
    width: 1.1em,
    height: 1.1em,
    margin: -.25em .6em 0 0,
  ),

);
