@if variable-exists(blockquote) {
  $global-blockquote: map-extend($global-blockquote, $blockquote, true);
}



blockquote {
  @include map-print-key($global-blockquote, 'default');

  @if map-get($global-blockquote, 'style') == 'border' {
    @include map-print-key($global-blockquote, 'border');
  }

  @else {
    position: relative;
    padding: map-deep-get($global-blockquote, 'quotes', 'padding');


    &:before,
    &:after {
      position: absolute;
      @include map-print-key($global-blockquote, 'quotes');
    }

    $spacing: map-deep-get($global-blockquote, 'quotes', 'spacing');

    &:before {
      content: '\201C';
      top: 0;
      left: 0;
    }

    &:after {
      content: '\201D';
      bottom: 0;
      right: 0;
    }
  }

  p {
    @include map-print-key($global-blockquote, 'paragraph');
  }

}
