<script>
  
var galleries = document.querySelectorAll('[data-instagram-tag]'), i;
  
for (i = 0; i < galleries.length; ++i) {
  
  var tag = galleries[i].getAttribute('data-instagram-tag');
  var id = galleries[i].id;
  console.log(id);
  galleries[i].gallery = new Instafeed({
    get: 'tagged',
    target: id,
    tagName: '{{ page.instagram }}',
    sortBy: 'most-recent',
    clientId: '{{ site.instagram.clientId }}',
    accessToken: '{{ site.instagram.accessToken }}',
    template: {% raw %}'<figure><a href="{{model.images.standard_resolution.url}}" data-caption="{{caption}} &hearts; {{likes}}"><img class="lazyload" src="{% endraw %}{{ placeholder }}{% raw %}" data-src="{{model.images.low_resolution.url}}" alt="Picture" width="280" height="280"/></a></figure>', {% endraw %}
    after: function() {
      baguetteBox.run(id);
    },
  });

  galleries[i].gallery.run();
}

</script>
