---
layout: default
---

<section class="blog">
  <h2 class="hidden"><span>{{ page.title }}</span></h2>

  {% for post in site.posts %}

  <article class="post">

  {% if post.image %}
  <figure class="post-banner">
    {% include_cached components/image.html file=post.image style='banner' alt=post.title %}
  </figure>
  {% endif %}

    <div class="content">

      <h3>{{ post.title }}</h3>
      
      <span class="date">
        Gepost op 
        {% assign m = post.date | date: "%-m" %}
        {{ post.date | date: "%-d" }}
        {% case m %}
          {% when '1' %}januari
          {% when '2' %}februari
          {% when '3' %}maart
          {% when '4' %}april
          {% when '5' %}mei
          {% when '6' %}juni
          {% when '7' %}juli
          {% when '8' %}augustus
          {% when '9' %}september
          {% when '10' %}oktober
          {% when '11' %}november
          {% when '12' %}december
        {% endcase %}
        {{ post.date | date: "%Y" }}
      </span>
      
      {{ post.content | markdownify | replace: "\", "<br/>" }}
      
      {% if post.instagram %}
      <section class="gallery" data-instagram-tag="{{ post.instagram }}">
        <h2 class="hidden">Galerij</h2>
        <div id="instafeed-{{ post.instagram }}"></div>
      </section>
      {% endif %}
      
    </div>

  </article>

  {% endfor %}

</section>
