---
layout: compress
---

<!DOCTYPE html>
<html lang="nl">

  {% include head.html %}

  <body>

    {% include_cached svg/icons.svg %}

    <h1 class="hidden">{{ site.title }}</h1>

    {% include header.html %}

    <main>
      {{ content }}
    </main>

    {% include_cached footer.html %}
    
    {% js js/default async:true %}

    {% if page.instagram and page.instagram != '' %}
      {% css css/plugins/baguetteBox.min.css %}
      {% js js/gallery %}
      {% include scripts/instafeed.html %}
    {% endif %}

    {% css css/non-critical %}
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i" rel="stylesheet">

  </body>
</html>
