---
layout: compress
---

<!DOCTYPE html>
<html lang="nl">

  {% include head.html %}

  <body>

    {% include_cached svg/icons.svg %}

    <h1>{{ site.title }}</h1>

    <header>
      <a href="/">
        {% img "svg/logo.svg" %}
      </a>
      {% include navigation.html %}
    </header>

    {% if page.image %}
    <figure class="banner">
      {% include_cached image.html file=page.image style='banner' alt=page.title %}
      {% if page.caption.quote %}
      <figcaption class="{{ page.caption.vertical-align }} {{ page.caption.horizontal-align }}">
        <blockquote>{{ page.caption.quote | markdownify }}</blockquote>
      </figcaption>
      {% endif %}
    </figure>
    {% endif %}

    <main>
      {{ content }}
    </main>

    {% include_cached footer.html %}
    {% include_cached scripts.html %}

  </body>
</html>
