---
layout: compress
---

<!DOCTYPE html>
<html lang="nl">

  {% include_cached head.html info=site.data.info title=page.title %}

  <body>

    {% include_cached svg/icons.svg %}

    <h1>{{ site.title }}</h1>

    <header>
      <a href="/">
        {% img "svg/logo.svg" 'alt="Sofie Vergauwe - De wereld van Sofie"' %}
      </a>
      {% include navigation.html %}
    </header>

    {% if page.banner and page.banner != '' %}
    <figure>
      <div>
        {% include_cached image.html file=page.banner style='banner' alt=page.title %}
        {% if page.quote %}
        <figcaption>
          {{ page.quote }}
        </figcaption>
        {% endif %}
      </div>
    </figure>
    {% endif %}

    <main>
      {{ content }}
    </main>

    {% include_cached footer.html %}
    {% include_cached scripts.html %}

  </body>
</html>
