---
layout: default
---


<section class="teasers">
  <h2 class="hidden">{{ page.title }}</h2>

  {% for teaser in page.teasers %}

  <article class="teaser">

    <figure>
      {% include_cached components/image.html file=teaser.image style='teaser' alt=teaser.title %}
    </figure>

    <div class="block">

      <h3>{{ teaser.title }}</h3>
      {{ teaser.description | markdownify | replace: "\", "<br/>" }}
      <footer>
        <a href="{{ teaser.link }}">Lees meer</a>
      </footer>

    </div>

  </article>

  {% endfor %}

</section>
