@mixin dropdown-menu($bg: color(focus), $color: color(white), $padding: spacing(2)) {

  & > h2 {
    display: inline-block;
  }

  & > ul {
    position: absolute;
    overflow-y: auto;
    top: 100%;
    right: 0;
    left: auto;
    background: $bg;
    padding: $padding;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.26s ease;
    margin: 0;

    a {
      color: $color;

      &:hover,
      &:focus,
      &:active,
      &.active {
        color: mix($bg, $color, 40);
      }
    }

    &.active {
      transform: scaleY(1);
    }

  }

}

@mixin dropdown-menu-hidden() {
  & > h2 {
    display: none;
  }
}
