$global-button: (

  'class': '.button',

  'default': (
    display: block,
    width: 100%,
    padding: spacing(0.6) spacing(0.8),
    margin: 0 0 .5em,
    color: color(white),
    background-color: color(primary),
    cursor: pointer,
    transition: background-color 0.2s ease-in-out,
  ),

  'small': (
    display: inline-block,
    width: auto,
    margin: 0 0 spacing(0.5)
  ),

  'hover': (
    color: color(white),
    background-color: color(primary, 5),
  ),

  'disabled': (
    opacity: 0.75
  ),

);
