.nc-appHeader-homeLink,
[data-react-toolbox="avatar"],
.nc-entryListing-cardList {
  display: none;
}

.nc-listControl-item {
 padding-left: 0; 
}

.nc-listControl-toggleButton {
  background-color: transparent;
}

.nc-listControl-objectControl,
.group {
  display: flex;
}

input,
select {
  font-family: inherit;
}
