.body {
  margin-top: -5em;
  position: relative;
}

.image {
  height: 400px;
  background-position: center center;
  background-size: cover;
}

.image-banner {
  height: 480px;
}

.block > div {
  margin: 0 !important;
}
